@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
$hero-red: #eb1c24;
$default-text: #ffffff;

body {
  background-color: #151515;
  color: $default-text;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
