<div *ngIf="player$ | async as p">

  <div class="score">

    <h1 *ngIf="winner">
      Jogador {{ winner }} ganhou o jogo!
    </h1>
    <h1 *ngIf="velha">
      Jogo deu velha!
    </h1>

  </div>
  <div *ngIf="p.isReadyX && p.isReadyO">

    <h2 *ngIf="!winner">Jogador Atual: {{ player }}</h2>
    <button class="reset-btn" (click)="beginGame()">Começar novo jogo</button>
    <div class="board">

      <main>
        <app-square *ngFor="let square of squares; let i = index" [value]="square" (click)="makeMove(i)">
        </app-square>
      </main>
    </div>
  </div>
  <h1 class="choose-text" *ngIf="!p.isReadyX || !p.isReadyO">
    Escolha os personagens para começar
  </h1>
</div>